.container {
  margin-top: 60px;
}

td {
  border-style: solid;
  border-width: 2px;
  width: 60px;
  height: 60px;
  background-color: #66CCCC;
}

table {
  margin-bottom: 15px;
}

.missedShips {
  background-color: #FF6666;
}

.miss {
  background-color: white;
}

.hit {
  background-color: #EDCB62;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 45pt;
}

h3 {
  font-family: 'Bungee Shade', cursive;
  font-size: 21pt;
}

p {
  text-align: left;
  text-transform: lowercase;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18pt;
}

.sm-tp-margin {
  margin-top: 3px;
}

.md-tp-margin {
  margin-top: 30px;
}

#sm-p-text {
  font-size: 12pt;
}

#revealShips {
  color: #303030;
  background-color: white;
  font-size: 24pt;
  border-color: black;
  border-width: 1px;
  font-family: 'Bungee', cursive;
  padding: 12px;
}

#revealShips:hover {
  background-color: #FF6666;
  text-shadow: 3px 2px black;
  color: white;
  margin: 0px;
}

.pop-up {
  margin-top: 60px;
}

#torpedosLeft, #shipsSunk, #man-v-computer{
  font-size: 18pt;
  font-weight: bold;
  font-family: 'Bungee', cursive;
}

hr {
  border: 1px solid #ccc;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

#yellow-squares {
  font-weight: bold;
  font-size: 15pt;
}
